[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "zsh/packages/zsh-syntax-highlighting"]
	path = zsh/packages/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "git-recover"]
	path = git-recover
	url = https://github.com/ethomson/git-recover
	branch = main
[submodule "zsh/packages/elm-bash-completion"]
	path = zsh/packages/elm-bash-completion
	url = https://github.com/eeue56/elm-bash-completion.git
[submodule "fzf-scripts"]
	path = fzf-scripts
	url = https://github.com/DanielFGray/fzf-scripts
