[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bin/willgit"]
	path = bin/willgit
	url = https://github.com/DanielVartanov/willgit.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/vim-io"]
	path = vim/bundle/vim-io
	url = https://github.com/andreimaxim/vim-io
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/nginx-vim-syntax"]
	path = vim/bundle/nginx-vim-syntax
	url = https://github.com/evanmiller/nginx-vim-syntax
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vim-eunuch"]
	path = vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
