
snippet Assug
As suggested at $1.
endsnippet

snippet Asrec
As recommended at $1.
endsnippet

snippet Asreq
As requested at $1.
endsnippet

snippet Aspoi
As pointed out at $1.
endsnippet

snippet coauthor
Co-authored-by: $1 <$2>
endsnippet

# Shortcuts for tagging GitHub users.

snippet @cameron
@cbailey20043
endsnippet

snippet @mohamed
@itsmemohamed
endsnippet

snippet @paul
@pshrmn
endsnippet
