
snippet Assug
As suggested by $1 at $2.
endsnippet

snippet Asrec
As recommended by $1 at $2.
endsnippet

snippet Asreq
As requested by $1 at $2.
endsnippet

snippet Aspoi
As pointed out by $1 at $2.
endsnippet

snippet Asdis
As discussed at $1
endsnippet

snippet coauthor
Co-authored-by: $1 <$2>
endsnippet

snippet coauthor_me
Co-authored-by: Bob Whitelock <bob.whitelock1@gmail.com>
endsnippet
