
# These snippets take priority over those defined in `all.snippets`.
priority 1

snippet &m
&mdash;
endsnippet

snippet &n
&ndash;
endsnippet

# In markdown, need to escape `_` to display this literally, and also need to
# escape `\` twice to get two literal `\`s.
snippet shrug
¯\\\\\_(ツ)\_/¯
endsnippet

# Need to escape `_` here too, as above.
snippet disappointed
ಠ\\_ಠ
endsnippet

snippet code
\`\`\`$1
$2
\`\`\`
endsnippet

snippet -
- [ ] $1
endsnippet
