
snippet RS "Start new RSpec test file"
require 'rails_helper'

RSpec.describe $1 do
  describe '$2' do
    it '$3' do
    end
  end
end
endsnippet

# Note: `sleep` sometimes seemingly required here if `save_and_open_page` at
# end of test, and example will finish before browser opens.
snippet open "Open browser in Capybara test"
save_and_open_page; sleep 1000
endsnippet
