
snippet +flight-center
+flight-center @work
endsnippet

snippet +flight-inventory
+flight-inventory @work
endsnippet

snippet +userware
+userware @work
endsnippet

snippet +metalware
+metalware @work
endsnippet
