
snippet +flight-center
+flight-center @work
endsnippet

snippet +flight-inventory
+flight-inventory @work
endsnippet

snippet +flight-blueprint
+flight-blueprint @work
endsnippet

snippet +userware
+userware @work
endsnippet

snippet +metalware
+metalware @work
endsnippet

snippet +adminware
+adminware @work
endsnippet

snippet +underware
+underware @work
endsnippet

snippet +cloudware
+cloudware @work
endsnippet
